<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="tuo90411@cis-linux2.temple.edu">
				<network host="cis-linux2.temple.edu" port="25" userName="XXXXXX" password="XXXXXXXX" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
					  warningLevel="4" compilerOptions="/langversion:default" />
		</compilers>
	</system.codedom>
</configuration>
